@import url('screen.css');


body {
	-webkit-font-smoothing: antialiased;
	background: #226ACC url(../images/touch/main_bg.png) repeat fixed center top;
	color: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	overflow-x: hidden;
}

#header {
	height: 55px;
	overflow: hidden;
	background: url(../images/touch/header_bg.png) center;
	text-align: center;
	text-shadow: #000000 -1px -1px 0px;
	border-top: 1px solid #0E2146;
	border-bottom: 1px solid #679AF8;
}

#header h1 {
	font-size: 22px;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 8px 0 3px;
}

#header h2 {
	font-size: 11px;
	font-weight: lighter;
	letter-spacing: .1em;
}

/* @group NAVIGATION */

#navigation {
	height: 48px;
	overflow: hidden;
	margin: 8px 5px;
	background-image: url(../images/touch/nav_bg.png);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-top: 1px solid #0E2146;
	border-bottom: 1px solid #679AF8;
}

#navigation ul li {
	height: 48px;
}

#navigation ul li a {
	display: block;
	float: left;
	width: 100%;
	height: 16px;
	padding-top: 32px;
	text-align: center;
	text-transform: uppercase;
	font-size: 9px;
	color: #fff !important;
	text-decoration: none !important;
	text-shadow: #000000 -1px -1px 0px;
	letter-spacing: .2em;
}

#navigation ul li.events {
	width: 25%;
	float: left;
	border-right: 1px solid #0E2146;
}

#navigation ul li.events a {
	background: url(../images/touch/icon_sprites.png) no-repeat center 6px;
}

#navigation ul li.news {
	width: 25%;
	float: left;
	border-left: 1px solid #1F3E86;
	border-right: 1px solid #102347;
}

#navigation ul li.news a {
	background: url(../images/touch/icon_sprites.png) no-repeat center -49px;
}

#navigation ul li.location {
	width: 25%;
	float: left;
	border-left: 1px solid #1F3E86;
	border-right: 1px solid #102347;
}

#navigation ul li.location a {
	background: url(../images/touch/icon_sprites.png) no-repeat center -155px;
}

#navigation ul li.nearby {
	width: 23%;
	float: left;
	border-left: 1px solid #1F3E86;
}

#navigation ul li.nearby a {
	background: url(../images/touch/icon_sprites.png) no-repeat center -101px;
}

/* @end */


#sub_navigation {
	height: 27px;
	overflow: hidden;
	margin: 8px 5px 10px;
}

#sub_navigation ul {
	display: block;
}

#sub_navigation ul li.friend_us {
	margin-left: .5%;
}

#sub_navigation ul li.follow_us {
	float: right;
}

#sub_navigation ul li, #sub_navigation ul li a {
	height: 27px;
	overflow: hidden;
	display: block;
	float: left;
}

#sub_navigation ul li {
	width: 33%;
	height: 25px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: rgba(72, 128, 210, .5);
	border-top: 1px solid rgba(160, 189, 231, .5);
	border-bottom: 1px solid rgba(16, 55, 111, .5);
}

#sub_navigation ul li a {
	height: 18px;
	padding: 7px 0 0 28px;
	color: #fff;
	width: 100%;
	text-shadow: #0E3A7E -1px -1px 0px;
	text-decoration: none !important;
	text-transform: uppercase !important;
}

#sub_navigation ul li a span {
	text-transform: none;
}

#sub_navigation ul li.newsletter a {
	padding-left: 32px;
	background: url(../images/touch/icon_sprites.png) no-repeat 8px -320px;
}

#sub_navigation ul li.friend_us a {
	background: url(../images/touch/icon_sprites.png) no-repeat 8px -266px;
}

#sub_navigation ul li.follow_us a {
	background: url(../images/touch/icon_sprites.png) no-repeat 8px -212px;
}

#content {
	width: 100%;
	overflow: hidden;
}

.content_inner {
	top: 0px !important;
	left: 100%;
	width: 100%;
	position: relative;
	z-index: 99999;
	display: none;
	float: left;
}

.current {
	left: 0;
	display: block;
}

#content a, #content a:link, #content a:active, #content a:visited {
	color: #F9EB19;
	text-decoration: none;
}

#content a:hover {
	color: #fff;
}

#content h2 {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-shadow: #0E3A7E -1px -1px 0;
	padding: 0 0 5px 7px;
	margin: 0 5px;
}

#content .buttons_right {
	float: right;
	margin: 0 5px 0 0;
}

#content .buttons_right ul {
	display: block;
	float: right;
}

#content .buttons_right ul li {
	display: block;
	float: left;
	margin-left: 3px;
}

#content .buttons_right ul li a {
	display: block;
	float: left;
	background: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.3)),
    	color-stop(0.72, rgba(22,47,104,.3))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.3) 41%,
    	rgba(22,47,104,.3) 72%
	);
	border-radius: 6px;
	border-top: 1px solid rgba(14,33,70,.3);
	border-bottom: 1px solid rgba(103,154,248,.6);
	font-weight: bold;
	font-size: 12px;
	text-shadow: #153D7A 1px 1px 0;
	padding: 3px 10px 5px 10px;
	color: #fff !important;
}

#content .buttons_right ul li.active a {
	background: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.7)),
    	color-stop(0.72, rgba(22,47,104,.7))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.7) 41%,
    	rgba(22,47,104,.7) 72%
	);
}

#content .buttons_right ul li.back a {
	background: url(../images/touch/icon_sprites.png) no-repeat 7px -376px, -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.3)),
    	color-stop(0.72, rgba(22,47,104,.3))
	);
	background: url(../images/touch/icon_sprites.png) no-repeat 7px -376px, -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.3) 41%,
    	rgba(22,47,104,.3) 72%
	);
	padding: 3px 14px 5px 22px;
}

#content .buttons_right ul li.home a {
	background: url(../images/touch/icon_sprites.png) no-repeat center -528px, -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.3)),
    	color-stop(0.72, rgba(22,47,104,.3))
	);
	background: url(../images/touch/icon_sprites.png) no-repeat center -528px, -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.3) 41%,
    	rgba(22,47,104,.3) 72%
	);
	text-indent: -99999px;
	width: 25px;
	height: 12px;
	padding: 4px 0;
}

#content .item {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 4px 7px;
	border-top: 1px solid rgba(14,33,70,.3);
	border-bottom: 1px solid rgba(103,154,248,.6);
	background: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.3)),
    	color-stop(0.72, rgba(22,47,104,.3))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.3) 41%,
    	rgba(22,47,104,.3) 72%
	);
	text-shadow: #153D7A 1px 1px 0;
	margin: 0 5px 5px;
}

#content .item_clickable {
	cursor: pointer;
	padding: 4px 20px 4px 7px;
	background: url(../images/touch/item_arrow.png) no-repeat right center, -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.3)),
    	color-stop(0.72, rgba(22,47,104,.3))
	);
	background: url(../images/touch/item_arrow.png) no-repeat right center, -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.3) 41%,
    	rgba(22,47,104,.3) 72%
	);
}

#content .pad_top {
	padding-top: 10px;
}

#content .item .thumb {
	width: 110px;
	float: left;
}

#content .item h2 {
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
	text-shadow: #153D7A 1px 1px 0;
}

#content .item h2 .normal {
	font-weight: normal;
}

#content .item h2 a {
	color: #fff;
}

#content .item h3 {
	font-size: 11px;
	padding-bottom: 2px;
}

#content .item p {
	font-size: 12px;
	margin: 5px 0;
	line-height: 17px;
}

#content .item .map {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-top: 1px solid rgba(14,33,70,.3);
	border-bottom: 1px solid rgba(103,154,248,.6);
	background: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.41, rgba(18,32,68,.3)),
    	color-stop(0.72, rgba(22,47,104,.3))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	rgba(18,32,68,.3) 41%,
    	rgba(22,47,104,.3) 72%
	);
	text-shadow: #153D7A 1px 1px 0;
	margin: 5px 10px 0 0;
	float: left;
	text-transform: uppercase;
}

#content .item .map a {
	color: #fff !important;
	display: block;
	float: left;
	padding: 7px 10px 9px;
	font-size: 14px;
	font-weight: bold;
}

#content .fifty_column {
	float: left;
	width: 50%;
}
